body {
  margin: 0;
  height: 100vh;
  background: #000; /* чёрный фон */
  overflow: hidden;
  font-family: sans-serif;
  color: #fff;
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* под всем контентом */
}

header {
  height: 82px;
  width: 1260px;
  margin-left: 70px;
  margin-top: 30px;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* растягиваем видео по экрану */
}
.logo {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700; /* жирность */
  color: #ffffff; /* белый цвет */
  transition: 0.3s ease;
  margin-top: 10px;
  margin-left: -880px;
}

.logo:hover {
  text-shadow: 0 0 15px #008cff, 0 0 35px #008cff; /* синее свечение */
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 65px;
  background: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-left {
  display: flex;
  justify-content: center;
  margin-left: -130px;
  margin-top: -34px;
  gap: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav-item {
  color: #e4e4e4;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-item:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #4d94ff;
}

/* ───────── RIGHT SIDE ───────── */

.nav-right {
  display: flex;
  align-items: end;
  margin-left: 820px;
  margin-top: -37px;
  gap: 15px;
}

/* Кнопка снега */
.snow-btn {
  background: #5aaaff;
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
  margin-top: -20px;
}
.snow-btn:hover {
  box-shadow: 0 0 10px #5aaaff;
}

/* Поисковая строка */
.search-box {
  background: #1f1f1f;
  padding: 5px 10px;
  border-radius: 10px;
  width: 105px;
  height: 35px;
}
.search-box input {
  background: transparent;
  border: none;
  color: #ffffff;
  outline: none;
  margin-top: 9px;
}

/* Золотая кнопка */
.gold-btn {
  background: rgba(103, 163, 209, 0.799);
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  width: 120px;
  height: 44px;
}
.gold-btn:hover {
  background: #53ddff;
  box-shadow: 0 0 10px #00ffe1;
  opacity: 0.8;
  color: #000000;
}

/* Иконки справа */
.icon-btn {
  background: #2c2c2c;
  border: none;
  color: hsl(0, 0%, 100%);
  width: 100px;
  height: 44px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.icon-btn:hover {
  box-shadow: 0 0 10px #4d94ff;
}

/* Аватар */
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
}
.avatar:hover {
  background: #53ddff;
  box-shadow: 0 0 10px #00ffe1;
  opacity: 0.8;
  color: #000000;
  box-shadow: 0 0 10px #5aaaff;
  transition: 0.2s;
}
/* ───────── Снежинки (декор) ───────── */

.snow {
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 800px;
  }
}

.reclaming {
  width: 1200px;
  height: 100px;
}

.banner {
  width: 1200px;
  height: 50px;
  margin-left: 25px;
  border-radius: 10px;
  margin-top: -23px;
}

.case_container {
  width: 1250px;
  margin-left: 120px;
  height: 400px;
  margin-top: 50px;
}
.case {
  width: 100px;
  height: 70px;
  display: inline-block;
  margin-left: 220px;
  gap: 10px;
  margin-top: 50px;
  cursor: pointer;
}
.case_button {
  margin-left: 5px;
  margin-top: 10px;
  display: inline-flex;
  gap: 15px;
}
.case_button button {
  width: 100px;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
}
.backtound_button_1 {
  background-color: #4cd7e1;
}
.backtound_button_2 {
  background-color: #dede96;
}
.backtound_button_1:hover {
  background: #53ddff;
  box-shadow: 0 0 10px #00ffe1;
  opacity: 0.8;
  color: #000000;
  box-shadow: 0 0 10px #5aaaff;
  transition: 0.2s;
}
.backtound_button_2:hover {
  background: #b7b77b;
  box-shadow: 0 0 10px #aae71c;
  opacity: 0.8;
  color: #000000;
  box-shadow: 0 0 10px #5aaaff;
  transition: 0.2s;
  color: #3a3a3a;
}
.backtound_button_2:active {
  background: #87875b;
}
.backtound_button_1:active {
  background: #4a8c9d;
}
.nav-item_case {
  text-decoration: none;
  color: #e4e4e4;
}
.nav-item_case:hover {
  color: #00a2ff;
  text-shadow: 0 0 8px #87b7ff;
}
.nav-item_clans {
  text-decoration: none;
  color: #e4e4e4;
}
.nav-item_clans:hover {
  color: #00a2ff;
  text-shadow: 0 0 8px #87b7ff;
}
.nav-item_icon_donate {
  text-decoration: none;
  color: #e4e4e4;
}
.nav-item_icon_donate:hover {
  color: #00a2ff;
  text-shadow: 0 0 8px #87b7ff;
}
.logo a {
  text-decoration: none;
  color: #ffffff;
}
.cases_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* расстояние между кейсами */
  margin-top: 40px;
}

.case_block {
  text-align: center;
  width: 250px; /* фиксированная ширина каждого блока */
}

.case_img {
  width: 100%;
  height: auto;
}

.case_button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.hidden {
  display: none;
}

.case_block {
  width: 300px;
  text-align: center;
}

.case_view {
  transition: 0.3s;
}
body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
  text-align: center;
}

.cases {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  margin-left: -50px;
}

.case {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 60px;
}

.case:hover {
  background: #333;
}

.case img {
  width: 210px;
  border-radius: 10px;
  margin-top: -70px;
  margin-left: -50px;
}

.inv-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 15px;
  background: #444;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}

/* Анимация появления кейса */
.open-anim {
  animation: popIn 0.4s ease;
}
@keyframes popIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: 7% auto;
  padding: 20px;
  width: 420px;
  border-radius: 10px;
}

/* Лента прокрутки */
.roll-window {
  width: 100%;
  height: 140px;
  overflow: hidden;
  border: 2px;
  margin-top: 20px;
  position: relative;
}

.items-line {
  display: flex;
  position: relative;
  transition: transform 3s cubic-bezier(0.1, 0.65, 0.29, 1);
}

.items-line img {
  width: 120px;
  margin: 10px;
  border-radius: 6px;
}

/* Красная линия — маркер */
.marker {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: rgb(151, 75, 113);
}

/* Инвентарь */
.inventory {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  /* червоний з 50% прозорістю */
  background-color: rgba(15, 14, 14, 0.815);

  padding: 20px;
  overflow-y: auto;
}

#inventoryItems img {
  width: 80px;
  margin: 5px;
  border-radius: 6px;
}

.deleteBtn {
  display: block;
  margin: 4px auto 12px auto;
  background: #aa0000;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.deleteAllBtn {
  background: #cc0000;
  padding: 8px 15px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 16px;
}
.deleteAllBtn:hover {
  background: #dda16c;
  transition: 0.2s;
}
.case_img_2 {
  width: 40px;
}
.esc {
  border: none;
  background-color: #628bdd;
  border-radius: 6px;
  cursor: pointer;
}
.esc:hover {
  color: #000000;
  background-color: #87b7ff;
  transition: 0.2s;
}
.case_text {
  margin-top: -5px;
  margin-left: -5px;
}
.case_info {
  border: none;
  border-radius: 15px;
  background-color: #e5e58f;
  width: 155px;
  height: 35px;
  margin-left: -25px;
  font-family: "Poppins", sans-serif;
}
.case_info:hover {
  background-color: #aa64bd;
  text-shadow: 0 0 15px #008cff, 0 0 35px #008cff; /* синее свечение */
  cursor: pointer;
  transition: 0.2s;
}
#rollBtn {
  cursor: pointer;
  border-radius: 6px;
  background-color: #9769dd;
  border: none;
  margin-top: 5px;
}
#rollBtn:hover {
  background-color: #5653a5;
  text-shadow: 0 0 15px #008cff, 0 0 35px #008cff; /* синее свечение */
  cursor: pointer;
  transition: 0.2s;
}
#caseTitle {
  color: #000000;
  text-shadow: 0 0 15px #008cff, 0 0 35px #008cff;
}
