body {
  margin: 0;
  height: 100vh;
  background: #000; /* чёрный фон */
  overflow: hidden;
  font-family: sans-serif;
  color: #fff;
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* под всем контентом */
}

header {
  height: 82px;
  width: 1200px;
  margin-left: 70px;
  margin-top: 35px;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* растягиваем видео по экрану */
}
.logo {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700; /* жирность */
  color: #ffffff; /* белый цвет */
  transition: 0.3s ease;
  margin-top: 20px;
  margin-left: 60px;
}

.logo:hover {
  text-shadow: 0 0 15px #008cff, 0 0 35px #008cff; /* синее свечение */
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 65px;
  background: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-left {
  display: flex;
  justify-content: center;
  margin-left: -130px;
  margin-top: -34px;
  gap: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav-item {
  color: #e4e4e4;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-item:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #4d94ff;
}

/* ───────── RIGHT SIDE ───────── */

.nav-right {
  display: flex;
  align-items: end;
  margin-left: 820px;
  margin-top: -37px;
  gap: 15px;
}

/* Кнопка снега */
.snow-btn {
  background: #5aaaff;
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
  margin-top: -20px;
}
.snow-btn:hover {
  box-shadow: 0 0 10px #5aaaff;
}

/* Поисковая строка */
.search-box {
  background: #1f1f1f;
  padding: 5px 10px;
  border-radius: 10px;
  width: 105px;
  height: 35px;
}
.search-box input {
  background: transparent;
  border: none;
  color: #ffffff;
  outline: none;
  margin-top: 9px;
}

/* Золотая кнопка */
.gold-btn {
  background: rgba(103, 163, 209, 0.799);
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  width: 120px;
  height: 44px;
}
.gold-btn:hover {
  background: #53ddff;
  box-shadow: 0 0 10px #00ffe1;
  opacity: 0.8;
  color: #000000;
}

/* Иконки справа */
.icon-btn {
  background: #2c2c2c;
  border: none;
  color: hsl(0, 0%, 100%);
  width: 100px;
  height: 44px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.icon-btn:hover {
  box-shadow: 0 0 10px #4d94ff;
}

/* Аватар */
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
}
.avatar:hover {
  background: #53ddff;
  box-shadow: 0 0 10px #00ffe1;
  opacity: 0.8;
  color: #000000;
  box-shadow: 0 0 10px #5aaaff;
  transition: 0.2s;
}
/* ───────── Снежинки (декор) ───────── */

.snow {
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  animation: snow 20s linear infinite;
}

@keyframes snow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 800px;
  }
}

.reclaming {
  width: 1200px;
  height: 100px;
}

.banner {
  width: 1250px;
  height: 50px;
  margin-left: 120px;
  border-radius: 10px;
  margin-top: -23px;
}

.info_card {
  width: 1250px;
  height: 150px;
  margin-left: 120px;
  border-radius: 10px;
  margin-top: 10px;
}
.card button {
  cursor: pointer;
  border: none;
  width: 350px;
  height: 90px;
  border-radius: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  display: inline;
  justify-content: center;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 20px;
}
.card button:hover {
  background: #53ddff;
  box-shadow: 0 0 10px #00ffe1;
  transition: 0.3s ease;
  color: #282727;
  text-shadow: 0 0 15px #008cff, 0 0 35px #008cff; /* синее свечение */
}
.card button:active {
  background: #4a8c9d;
}
.card_button_1 {
  background-color: #6b86ff;
}
.card_button_1 a {
  text-decoration: none;
  color: #000;
}
.card_button_2 {
  background-color: #c17be7;
  color: #000;
}
.card_button_3 {
  background-color: color-mix(
    in srgb-linear,
    color percentage,
    color percentage
  );
}
.nav-item_case {
  text-decoration: none;
  color: #e4e4e4;
}
.nav-item_case:hover {
  color: #00a2ff;
  text-shadow: 0 0 8px #87b7ff;
}
.card_button_2 a {
  text-decoration: none;
  color: #000;
}
.nav-item_clans {
  text-decoration: none;
  color: #e4e4e4;
}
.nav-item_clans:hover {
  color: #00a2ff;
  text-shadow: 0 0 8px #87b7ff;
}
.nav-item_icon_donate {
  text-decoration: none;
  color: #e4e4e4;
}
.nav-item_icon_donate:hover {
  color: #00a2ff;
  text-shadow: 0 0 8px #87b7ff;
}
.logo a {
  text-decoration: none;
  color: #ffffff;
}
